<div [ngClass]="alerta" class="alert" role="alert">
    <strong> Well done!! </strong> you successfully red this important {{ msn }} message.
</div>

<button type="button" class="btn btn-info m-1" (click)="alerta = 'alert-info'; msn = 'info'">
  Info
</button>
<button type="button" class="btn btn-success m-1" (click)="alerta = 'alert-success'; msn = 'success'">
  Success
</button>
<br /><br />
<h3 [ngClass]="{
    'text-danger': propiedades.danger,
    'text-info': !propiedades.danger
  }">
    Hola mundo
</h3>
<button (click)="propiedades.danger = !propiedades.danger" type="button" class="btn btn-danger" [ngClass]="{
    'btn-danger': propiedades.danger,
    'btn-info': !propiedades.danger
  }">
  Cambiar
</button>

<br /><br />
<h3>
    procesos asincronos
</h3>
<button (click)="ejecutar()" type="button" class="btn btn-primary" [disabled]="cargando">
  <i
    [ngClass]="{ 'fa-save': !cargando, 'fa-refresh fa-spin': cargando }"
    class="fa"
  ></i>
  <span *ngIf="!cargando"> Guardar cambios </span>
  <span *ngIf="cargando"> Espere 3s por favor </span>
</button>